{% from "bases/macros.j2" import lookup with context %}
{% macro sleep_container(prefix) %}
-   env:
    -   name: TZ
        value: UTC
    -   name: POD_NAME
        valueFrom:
            fieldRef:
                apiVersion: v1
                fieldPath: metadata.name
    -   name: NAMESPACE
        valueFrom:
            fieldRef:
                apiVersion: v1
                fieldPath: metadata.namespace
    -   name: POD_UID
        valueFrom:
            fieldRef:
                apiVersion: v1
                fieldPath: metadata.uid
    -   name: NODE_NAME
        valueFrom:
            fieldRef:
                apiVersion: v1
                fieldPath: spec.nodeName
    image: registry.redhat.io/ubi8/ubi
    command: ["/bin/sh"]
    args: ["-c", "while true; do sleep 10;done"]
    imagePullPolicy: IfNotPresent
    livenessProbe:
        exec:
            command:
                - ls
        failureThreshold: 3
        initialDelaySeconds: 30
        periodSeconds: 10
        successThreshold: 1
        timeoutSeconds: 1
    name: {{ lookup(prefix + "_container_name", prefix + "_sleeper") }}
    resources:
        limits:
            cpu: {{ lookup(prefix +  "limit_cpu_count", "2") }}
            memory: {{ lookup(prefix + "limit_memory", "512Mi") }}
        requests:
            cpu: {{ lookup(prefix + "requested_cpu_count", "2") }}
            memory: {{ lookup(prefix + "requested_memory", "512Mi") }}
    securityContext:
        allowPrivilegeEscalation: false
        capabilities:
        drop:
        - ALL
        - MKNOD
        privileged: false
        readOnlyRootFilesystem: true
        runAsNonRoot: true
    {%- if (lookup(prefix + "volumeMounts", []) | from_yaml | length) > 0 %}
    volumeMounts:
        {{ lookup(prefix + "volume_mounts") | to_yaml }}
    {% endif %}
{% endmacro %}