{%- from "bases/macros.j2" import get_copies_name with context -%}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ get_copies_name(app) }}-deployment
  labels:
    app: {{ app }}
    {% if (labels | default({}) | length) > 0 %}
    {{ labels | to_yaml }}
    {% endif %}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ app }}
  template:
    metadata:
      labels:
        app: {{ app }}
    spec:
      containers:
        {%- block containers %}
        {% endblock -%}
      {% if (volumes | default([]) | length) > 0 %}
      volumes:
        {% for x in volumes %}
        - {{ x["definition"] | combine({"name": x["name"]}) | to_yaml | indent(10) }}
        {% endfor %}
      {% endif %}