{% macro include_indent(filename, indenNumber) %}
{%- filter indent(10, first=True) %}
{% include filename -%}
{% endfilter -%}
{% endmacro %}

{%- macro get_copies_name(name) -%}
{% if copies and copies > 0 %}{{ name }}-{{ index }}{% else %}{{ name }}{% endif %}
{%- endmacro -%}

{%- macro lookup(name, default_value="") -%}
{{ self._TemplateReference__context.resolve(name) | default(default_value) }}
{%- endmacro -%}

{%- macro volume_mounts(volumes, container_names) -%}
{% for x in volumes %}
{% if x["containers"].lower() == "all" or x["containers"] in container_names %}
- {{ x["mount"] | combine({"name": x["name"]}) | to_yaml | indent(2) }}
{% endif %}
{% endfor %}
{%- endmacro -%}