{% macro include_indent(filename, indenNumber) %}
{%- filter indent(10, first=True) %}
{% include filename -%}
{% endfilter -%}
{% endmacro %}

{%- macro get_copies_name(name) -%}
{% if copies and copies > 0 %}{{ name }}-{{ index }}{% else %}{{ name }}{% endif %}
{%- endmacro -%}

{%- macro lookup(name) -%}
{{ self._TemplateReference__context.resolve(name) }}
{%- endmacro -%}
