{% from "containers/stress.j2" import stress_container with context %}
{% from 'containers/sleep.j2' import sleep_container with context %}

{% extends "bases/deployment.yaml.j2" %}
{% block containers %}
{{- sleep_container("sl1")  | indent(10, first=True) -}}
{{- stress_container("st1") | indent(10, first=True) -}}
{{- stress_container("st2") | indent(10, first=True) -}}
{{- sleep_container("sl2")  | indent(10, first=True) -}}
{% endblock -%}
